h1 {
  font-size: 60px;
  font-weight: 600;
  color: #5BCDB3;
}

.cam-selector {
  display: flex;
  height: 37px;
}

.control {
  margin-right: 5px;
}

table td {
  width: 200px;
  text-align: center;
}

.table th {
  width: 100px;
  text-align: center;
}

.table tbody th {
  text-align: left;
}

img {
  height: 200px;
  width: 100px;
  border-radius: 4px;
}

.my-section {
  margin: 35px 0 35px 0;
}

.table {
  border: 1px solid lightgray;
  border-radius: 4px;
}

.table thead tr th:first-child {
  border-radius: 4px 0 0 0;
}

.table thead tr th:last-child {
  border-radius: 0 4px 0 0;
}

.table tbody tr:last-child td:first-child {
  border-radius: 0 0 0 4px;
}

.table tbody tr:last-child td:last-child {
  border-radius: 0 0 4px 0;
}

table {
  border-collapse: separate;
}

#unit-selector {
  float: right;
  margin: 0;
}
