h1 {
  font-size: 60px;
  font-weight: 600;
  color: #5BCDB3;
  text-align: center;
}

.cam-selector {
  display: flex;
  height: 37px;
}

.control {
  margin-right: 5px;
}

td {
  width: 200px;
  align: center;
}

th {
  width: 100px;
}

img {
  height: 200px;
  width: 100px;
}

.container {
  justify-content: center;
}

.my-section {
  margin: 40px 0 40px 0;
}
