h1 {
  font-size: 40px;
}

.color-cell {
  border-radius: 5px;
  height: 23px;
  width: 80%;
  margin: 0 10% 0 10%;
}

.cam-selector {
  display: flex;
  height: 37px;
}

.control {
  margin-right: 5px;
}

td {
  width: 240px;
}

img {
  height: 240px;
  width: 120px;
}
